@mixin respond($bp) {
  @media only screen and (min-width: $bp) {
    @content;
  }
}

.container {
  max-width: 1440px;
  margin: auto;

  .shop-all {
    position: relative;
    font-size: 0.8rem;
    font-weight: 900;
    line-height: 17.48px;
    width: max-content;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background: currentColor;
    }
  }

  @include respond(992px) {
    display: flex;
    align-items: center;
    padding: 40px 0;
  }
}

.img-container {
  position: relative;
  z-index: 10;
  width: 100%;
  background: url('/images/bg.jpg') top center/cover no-repeat;
  height: 436px;

  @include respond(576px) {
    height: 512px;
  }
  @include respond(768px) {
    height: 560px;
  }
  @include respond(992px) {
    width: 50%;
    height: 800px;
  }
  @include respond(1200px) {
    height: 864px;
  }

  &__info {
    position: absolute;
    left: 1.5rem;
    bottom: 112px;
    max-width: 360px;
    color: var(--white);

    @include respond(576px) {
      bottom: 132px;
    }
    @include respond(768px) {
      left: 2rem;
      bottom: 144px;
    }
    @include respond(992px) {
      display: none;
    }

    h1 {
      font-family: 'ITCBold', sans-serif;
      font-size: 1.25rem;
      margin-bottom: 16px;
      line-height: 1.25;

      @include respond(576px) {
        font-size: 1.625rem;
      }
      @include respond(768px) {
        font-size: 1.725rem;
      }
    }
  }
}

.product-container {
  @include respond(992px) {
    width: 50%;
    padding-left: 3.25rem;
  }
  @include respond(1200px) {
    padding-left: 5rem;
  }
  @include respond(1440px) {
    padding-left: 7.5rem;
  }

  &__info {
    display: none;

    h1 {
      font-size: 1.95rem;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 12px;
      max-width: 500px;
    }

    .desc {
      font-size: 1rem;
      line-height: 25.6px;
      margin-bottom: 2rem;
      color: var(--gray);
      max-width: 440px;
    }

    @include respond(992px) {
      display: block;
    }
  }

  .scroll-container {
    margin-top: -2.5rem;
    overflow-x: scroll;
    position: relative;
    z-index: 10;

    .nav-btn {
      display: none;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50% - 26px));
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      z-index: 5;

      i {
        font-size: 18px;
        line-height: 0;
      }

      &.prev {
        display: none;
        left: 5%;
      }

      &.next {
        right: 5%;
      }

      @include respond(992px) {
        display: grid;
        place-items: center;
      }
    }

    @include respond(992px) {
      overflow: hidden;
      margin-top: 4.625rem;
    }
  }

  &__products {
    display: flex;
    gap: 0.75rem;
    margin: 0 1.5rem;
    position: relative;
    transition: all 0.35s;

    .margin-item {
      flex: 1 0 0.75rem;
    }

    @include respond(576px) {
      gap: 1rem;

      .margin-item {
        flex: 1 0 0.5rem;
      }
    }
    @include respond(768px) {
      gap: 1.25rem;
      margin: 0 2rem;

      .margin-item {
        flex: 1 0 0.75rem;
      }
    }
    @include respond(992px) {
      width: max-content;
      gap: 1.5rem;
      margin: 0;

      .margin-item {
        flex: 1 0 0.01rem;
      }
    }
    @include respond(1200px) {
      gap: 2rem;
    }
    @include respond(1500px) {
      .margin-item {
        display: none;
      }
    }

    h3 {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 20.48px;
      margin-bottom: 4px;
    }
  }

  &__product {
    flex: 1 0 47.5%;
    max-width: 230px;
    object-fit: cover;

    @include respond(1200px) {
      flex: 1 0 43.325%;
    }

    img {
      margin-bottom: 8px;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include respond(992px) {
      flex-direction: row;
      justify-content: space-between;
    }

    p {
      font-size: 0.8rem;
      line-height: 20.48px;
      font-weight: 500;
    }

    .colors {
      display: flex;
      gap: 6px;
    }

    .color-container {
      display: grid;
      place-items: center;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }

    .color-container.active {
      border: 1px solid var(--black);

      .color {
        width: 8px;
        height: 8px;
      }
    }

    .color {
      width: 100%;
      height: 100%;
      border-radius: 50%;

      &.blue {
        background: var(--blue);
      }
      &.brown {
        background: var(--brown);
      }
      &.purple {
        background: var(--purple);
      }
      &.green {
        background: var(--green);
      }
    }
  }
}
